@tailwind base;
@tailwind components;
@tailwind utilities;

.whitespace-nowrap {    
    background: linear-gradient(to right, #83d3fe,#e583fc);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #b2adfe;  
}

.sticky {
    box-shadow: 0px 15px 25px rgba(0, 0, 0, .5);
    position: sticky;
    top: 0;
    z-index: 50;
}

.active {
    border-bottom: 1px solid #fff
}

.bg-header {
    background: repeating-linear-gradient(-45deg, #fbea22 0%, #fbea22 30%, #111827 0, #111827 100%);
    height: calc(100vh - 80px);
}

#about-me {
    background: repeating-linear-gradient(-45deg, #fbea22 0%, #fbea22 43.%, #111827 0, #111827 100%);
}

.dimension-height {
    height: 10rem;
}

.box-image {
    position: relative;
    height: 250px;
    width: 386px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.img-projects {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.box-image:hover > .layer {
    opacity: 1;
    visibility: visible;
}

.link:hover {
    color: #83d3fe;
}

.container-contact {
    background-color: #fbea22;
}

.box-img-me {
    background: linear-gradient(to right, #83d3fe,#e583fc);
    z-index: 1;
}

.box-shadow-me {
    height: 320px;
    max-width: 320px;
    position: relative;
    bottom: 305px;
    left: 18px;
    border: white solid 2px;
    border-radius: 0.5rem;

}

.tech {
    background: linear-gradient(to right, #83d3fe,#e583fc);
    width: 5.5rem;
    height: 5.5rem;
    position: relative;
    top: 60px;
    left: 37.8%;
    z-index: 1;
    border-radius: 3rem;
    border: 1px solid white;
}

.floatting-btn {
	font-size: 16px; 
	text-transform: uppercase;
	font-weight: bold; 
	color: #ffffff; 
	border-radius: 5px; 
	letter-spacing: 2px; 
	background-color: #E91E63; 
	padding: 18px 30px; 
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 50;
}
.floatting-btn:hover {
	background-color: #2c2fa5; 
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
 	.floatting-btn {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
} 

@media (max-width: 640px) {
    .dimension-height {
        height: 8rem;
    }

    .box-image {
        width: 322.5px;
        height: 208.3px;
    }
}

@media (max-width: 769px) {
    .bg-header {
        height: 100%
    }
}